{% extends "base.html" %}

{% block content %}
    <div class="devangel-in-action">
        <div class="front-page-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="front-page">
                            <span style="color: #e12127;">Developer 
                            evangelism</span>: inspire and equip
                            fellow software developers and serve our
                            technical communities.
                            <br/>
                            <br/>
                            Learn more about developer evangelism through
                            the writing of those who've served in the role.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="white-out">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Posts by Developer Evangelists</h3>
                        <ul class="must-read-posts">
                            {% for article in dates %}
                                <li><a href="{{ article.link }}">{{ article.title }}</a> <span class="author">by <a href="{{ article.github }}">{{ article.author }}</a></span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
