{% extends "base.html" %}

{% block content %}
    <div class="devangel-in-action">
        <div class="front-page-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="front-page">
                            <span style="color: #e12127;">Developer 
                            evangelism</span>: inspire and equip
                            fellow software developers and serve our
                            technical communities.
                            <br/>
                            <br/>
                            Learn more about developer evangelism through
                            the writing of those who've served in the role.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="white-out">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <h3>Latest post: <a href="http://blog.rickyrobinett.com/2015/01/should-i-become-a-developer-evangelist/">Should I Become a Developer Evangelist?</a> <span class="author">by Ricky Robinett</a></h3>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="must-read-posts">
                            <li><a href="http://kevinwhinnery.com/evangelism">Thoughts on Developer Evangelism</a> <span class="author">by Kevin Whinnery</span></li>
                            <li><a href="http://carter.rabasa.com/2012/07/17/how-to-balance-hustling-and-family/">Balancing Hustling and Family</a> <span class="author">by Carter Rebasa</span></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
